.classify-content{
	padding: 20px;
}
.classify-content th{
	text-align: center!important;
	min-width: 100px;
	vertical-align:middle;	
}
.classify-content td{
	vertical-align:middle;
}
.classify-content td .text-error{
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
}
.classify-content tr span{
	display: inline-block;
	margin: 0 5px;	
}
.classify-alert{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.5);
	z-index: 100;
}
.alert-box{
	position: absolute;
	left: 50%;
	top: 50%;
	max-height: 100%;
	overflow: auto;
	transform: translate(-50%, -50%);
	width: 400px;
	background: rgba(0, 0, 0,0.8);
	padding:20px 0 20px 50px;
}
.alert-item input{
	margin-bottom: 10px;	
}
.alert-item .item-title{
	width: 90px;
	text-align: right;
	color: #fff;
}
.alert-item .fa{
	color: #f00;
	margin-left: 10px;
}
.btns{
	padding-left:50px; 
}
.btns .btn{
	margin:0 5px ;
}
